<div class="container">
  <ul class="nav nav-pills mb-3 p-5" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
    </li>

  </ul>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Add Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User List</a>
    </li>
  </ul>


  <form (ngSubmit)="SubmitForm" [formGroup]="userForm">
    <div class="row mt-2 d-flex">
      <div class="FORM-group col-md-6">
        <label for="formGroup col-md-6">Name</label>
        <input type="text" class="form-control" formControlName="Name" placeholder="Enter name">
      </div>
    </div>
    <div class="row mt-2 d-flex">
      <div class="form-group col-md-6">
        <label for="formGroup col-md-6">Mobile No.</label>
        <input type="number" class="form-control" formControlName="Mobile" placeholder="Enter number">
      </div>
    </div>

    <div class="row mt-2 d-flex">
      <div class="FORM-group col-md-6">
        <label for="formGroup col-md-6">Email</label>
        <input type="text" class="form-control" formControlName="Email" placeholder="Enter email">
      </div>
    </div>
    <div class="row mt-2 d-flex">
      <div class="form-group col-md-6">
        <label for="formGroup col-md-6">Age</label>
        <input type="number" class="form-control" formControlName="Age" placeholder="Enter age">
      </div>
    </div>

    <div class="btns row mt-2 d-flex">

      <button type="submit" class="btn m-2 mt-md-2 btn-primary">Add</button>
      <button type="reset" class="btn  m-2 mr-1 btn-primary">Reset</button>
    </div>
  </form>




  <div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usersList;i:index">
            <th scope="row">{{item.id}}</th>
            <td>{{item.Name}}</td>
            <td>{{item.Mobile}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.Age}}</td>
            <td>
              <button class="btn btn-primary m-2" type="button">Edit</button>
              <button class="btn btn-danger m-1" type="button" (click)=" DeleteUserByID(item.id)">Delete</button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>sara</td>
            <td>thornton</td>
            <td>@fad</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>rama</td>
            <td>the bird</td>
            <td>@ewf</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
